/* Styles go here */
* {
  padding: 0;
  margin: 0;
}

header{
    background-image: linear-gradient(to right top, #989a9b, #8a8b8c, #7b7d7e, #6e6f70, #606162);
    height:120px;
 }

body {
  direction: rtl;
  font-family: 'Arial (Hebrew)', Arial;
  }
  
  header >.container > nav {
    padding-top: 30px;
  }

  .container {
    width: 900px;
    margin:auto;
  }

  nav > ul {
    position: relative;
    padding-right: 150px;
  }

  nav > ul > li {
    display: inline;
  }
  
  nav > ul > li > a {
    border-right: 1px solid white;
    display: inline-block;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }

  #english{
    margin-left: 10px;
    color: white;
  }

  .logo {
    position: absolute;
    top: -20px;
    right: 0;
  }

  .home > img{
    width: 50px;
  }
  .search-container  {
    height:50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .search-container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  nav > ul > li > a:hover {
    color: rgb(42, 42, 179);
    text-decoration: underline;
  }
   
  .dropdown {
    position: relative;
  }
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(to right top, #989a9b, #8a8b8c, #7b7d7e, #6e6f70, #606162);
    right: 0;
    font-size: 15px;
    font-weight: bold;
    z-index: 6;
  }
  
  .dropdown-content > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
  }
  
  .dropdown:hover > .dropdown-content {
    display: block;
  }

  /* footer style */
  footer {
    position: fixed;
    top: 722px;
    width: 100%;
    height:35px;
    bottom: 0;
    background-image: linear-gradient(to right top, #989a9b, #8a8b8c, #7b7d7e, #6e6f70, #606162); 
    z-index: 6;
  }

  footer > .container > nav > ul {
    position: relative;
    padding-right: 60px;
  } 

  footer > .container > nav > ul > li > a {
    padding-top: 5px;
    font-size: 12px; 
  } 

  footer >.container > nav {
    padding-top: 5px;
  }

  /* main */
  .row {
    padding-top: 40px;
  }
  .row ::after {
    content: "";
    clear: both;
    display: table;
  }

  .cube {
    width: 293px;
    height: 355px;
    position: relative;
    float: right;
    padding: 3px;
    z-index: 5;
  }

  .cube > img {
    border-bottom-right-radius: 20px;
  }

  .content{
    position: absolute;
    background-color:hsla(72, 2%, 51%, 0.8);
    bottom: 3px;
    right: 3px;
    width: 250px;
    height: 110px;
    border-bottom-right-radius: 20px;
    margin: 7px;
    font-size: 12px;
    font-weight: 400;
    color: white;
    display: inline-block;
  }

   .content > p {
    width: 200px;
    margin: 8px;
    margin-top: 2px;
  } 
  .content > h4 {
    margin: 8px;
  } 
  .content > a {
    float: left;
    padding-left: 12px;
    color: white;
  } 

  .content2{
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 250px;
    height: 210px;
    border-bottom-right-radius: 20px;
    margin: 7px;
    font-size: 12px;
    font-weight: 400;
    color: #575757;
    display: inline-block;
  }
  .cube2 {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 292px;
    height: 216px;
    position: relative;
    float: right;
    padding: 3px;
    z-index: 5;
  }
  .content2 > h4 {
    margin: 8px;
  } 
  .content2 > a {
    padding-left: 12px;
    float: left;
    color: #575757;
  }

  .cube2 > .map{
    float: left;
  }
  