/* Styles go here */
/* 
*{
  box-sizing: border-box;
} */

header{
    background-color: gray;
    height:120px;
 }

body {
    font-family: Arial;
    direction: rtl;
  }
  
  nav {
    padding-top: 10px;
    background-color: gray;
  }

  .container {
    width: 900px;
    margin:auto;
  }

  nav > ul {
    /* padding-top:10px; */
    position: relative;
    padding-right: 150px;
  }

  nav > ul > li {
    display: inline;
  }
  
  nav > ul > li > a {
    display: inline-block;
    color: white;
    padding: 10px;
  }

  #english{
    margin-left: 10px;
  }
  #search{
    margin:0;
  }

  .logo {
    position: absolute;
    top: -20px;
    right: 0;
  }

  .logo > img{
    /* width: 150px;
    padding-top:20px; */
  }
  .home > img{
    width: 50px;
  }
  .search-container  {
    height:50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .search-container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  nav > ul > li > a:hover {
    background-color: black;
  }
   
  .dropdown {
    position: relative;
  }
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #DDD;
    right: 0;
    /* width: 150px; */
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }
  
  .dropdown-content > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: black;
    /* width: 150%; */
  }
  
  .dropdown:hover > .dropdown-content {
    display: block;
  }
  